@import "~bootstrap/dist/css/bootstrap.css";


/* .content{
    padding: 16px;
    max-width: 600px;
} */

.item-card {
    max-width: 600px;
  }

  .main-div{
    /* height: 50vh; */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ngb-rating {
    color: #88ff00;
    font-size: 20px;
}